favorites=exo-web-browser.desktop,exo-mail-reader.desktop,exo-terminal-emulator.desktop,exo-file-manager.desktop,libreoffice-writer.desktop,libreoffice-calc.desktop,sublime-text.desktop,gucharmap.desktop
recent=dbx_preference.desktop,panel-preferences.desktop,gigolo.desktop,catfish.desktop,xfce4-notes.desktop,mousepad.desktop,xfce4-screenshooter.desktop,xfce4-settings-editor.desktop,DockX.desktop
button-title=Applications Menu
button-icon=xubuntu-logo-menu
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=false
item-icon-size=1
hover-switch-category=false
category-icon-size=0
load-hierarchy=true
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=true
position-commands-alternate=false
position-categories-alternate=false
menu-width=400
menu-height=500
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=false
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=7

[action0]
name=Pages de manuel
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Wikipédia
pattern=w
command=exo-open --launch WebBrowser https://fr.wikipedia.org/wiki/%u
regex=false

[action2]
name=Exécuter dans un terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action3]
name=Ouvrir l’emplacement
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

[action4]
name=Google
pattern=g
command=exo-open --launch WebBrowser https://www.google.fr/search?q=%u
regex=false

[action5]
name=DuckDuckGo
pattern=d
command=exo-open --launch WebBrowser https://duckduckgo.com/?q=%u
regex=false

[action6]
name=Google Trad
pattern=tr
command=exo-open --launch WebBrowser http://translate.google.fr/?source=osdd#auto|auto|%u
regex=false

