Host *
    ServerAliveInterval 60
    AddKeysToAgent yes
    UseKeychain yes
    ForwardAgent yes
    SendEnv LANG LC_*

Host bitbucket.org
    HostName bitbucket.org
    User git

Host github.com
    HostName github.com
    User git

Host gitlab.com
    HostName gitlab.com
    User git
